#modalBody{
    width:75%;
}
.movies {
    display: inline-block;
    width: 50%;
    height: 300px;
    margin: 20px
    
  }
  
.poster {
    width: 200px;
}  

div.image-container {
      margin: 20px;
}